<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <!--boton para dirigirse a la página inicio (luego se debe importar en shared.module.ts) -->
    <button mat-button routerLink="/inicio">Inicio</button>

    <!--boton menu desplegable (para ir a los productos) -->
    <button mat-button [matMenuTriggerFor]="productos">Productos</button>
    <mat-menu #productos="matMenu">
    <button mat-menu-item routerLink="productos">Todos nuestros productos</button>
    <button mat-menu-item routerLink="alimentacion">Alimentación</button>
    <button mat-menu-item routerLink="indumentaria">Indumentaria</button>
    <button mat-menu-item routerLink="juguete">Juguetes</button>
    </mat-menu>

    <span class="example-spacer"></span>

    <!--inicio de sesión y registro de un nuevo usuario -->
    <button mat-button [matMenuTriggerFor]="usuario">
      <mat-icon>account_circle</mat-icon>
     </button>
      <mat-menu #usuario="matMenu">
     <button mat-menu-item routerLink="registro">Registrarse</button>
     <button mat-menu-item routerLink="inicio-sesion">Iniciar sesión</button>
     </mat-menu>

    <!--carrito (proximamente)-->
    <button mat-icon-button class="example-icon carrito" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>

</mat-toolbar>
  