<mat-toolbar>


  <!--CUANDO LA PANTALLA SEA MENOR A 700PX, SE MOSTRARÁ: -->

    <button id="menuSecciones" mat-icon-button class="example-icon" [matMenuTriggerFor]="seccion">
      <mat-icon>menu</mat-icon>
    </button>
  <mat-menu #seccion> <!--"#nombre" vincula con [matMenuTriggerFor]-->
    <button mat-menu-item routerLink="/inicio">Inicio</button>
    <button mat-menu-item [matMenuTriggerFor]="productos">Productos</button>
  </mat-menu>


  <!--CUANDO LA PANTALLA SEA MAYOR A 700px, SE MOSTRARÁ: -->

    <!--boton para dirigirse a la página inicio (luego se debe importar en shared.module.ts) -->
    <button mat-button routerLink="/inicio">Inicio</button>

    <!--boton menu desplegable (para ir a los productos) -->
    <button mat-button [matMenuTriggerFor]="productos">Productos</button>
    <mat-menu #productos="matMenu">
    <button mat-menu-item routerLink="productos">Todos nuestros productos</button>
    <button mat-menu-item routerLink="alimentacion">Alimentación</button>
    <button mat-menu-item routerLink="indumentaria">Indumentaria</button>
    <button mat-menu-item routerLink="juguete">Juguetes</button>
    </mat-menu>

    <span class="example-spacer"></span>

    <!--inicio de sesión, registro de un nuevo usuario y cierre de sesión-->
    <button mat-button [matMenuTriggerFor]="usuario">
      <mat-icon>account_circle</mat-icon>
     </button>
      <mat-menu #usuario="matMenu">
     <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="registro">Registrarse</button>
     <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="inicio-sesion">Iniciar sesión</button>
     <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado" >Cerrar sesión</button>
     </mat-menu>

    <!--carrito (próximamente)-->
    <button mat-icon-button class="example-icon carrito" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>


    <!--label para MODO OSCURO-->
    <label for="toggle" id="label_toggle"> 
      <i class="fa-solid fa-moon"></i> 
    </label>

    <input type="checkbox" id="toggle" (click)="cambiarFondo()">

</mat-toolbar>
  