.container{
    display: flex;
    padding: 10px;
    justify-content: center;
}

h1{
    text-align: center;
}

.contenido{
    width: 300px;
    /* "inline-block" hace que las tarjetas (o el contenido q haya) se pongan una al lado de la otra. */
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}

p{
    padding: 5px;
}

mat-card-title{
    color: black;
}