<div class="container">

  <div class="row">

    <h1>Inicio</h1>

    <div class="col">

      <!--NG FOR: para repetir objetos de la interfaz "Animal"-->
        <div *ngFor="let i of info" class="contenido">
          <div class="card">

            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{i.nombre}}</mat-card-title>
                  <mat-card-subtitle>{{i.raza}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{i.imagen}}" alt="{{i.alt}}">
                <mat-card-content>
                  <p>
                    edad: {{i.edad}}
                    tamano: {{i.tamano}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Me gusta</button>
                  <button mat-button>Compartir</button>
                </mat-card-actions>
            </mat-card>
        
          </div>
        </div>
    </div>

  </div>

</div>
